body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.members{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;

}
.personal-cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 26%;
    text-align: center;
    margin-left: 5%;
  }
  .personal-cards-jose{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 26%;
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;
  }
  .personal-cards-jose>img{
    width: 120px;
    height: 120px;
}
.personal-cards-jose>h4{
    color: #21C4FF;
    font-weight: bold;
}
  .right{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 26%;
    text-align: center;
    float: right;
    margin-left: 5%;
    margin-right: 10%;
    /* margin-bottom: 10%; */
  }
  .btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
  }
  .personal-cards>img{
      width: 120px;
      height: 120px;
  }
  .right>img{
        width: 120px;
        height: 120px;
  }
  .personal-cards>h4{
      color: #21C4FF;
      font-weight: bold;
  }
  .right>h4{
    color: #21C4FF;
    font-weight: bold;

  }
  .quote{
      width: 50%;
      float: right;
      right: 0;
      margin-top: 8%;
      margin-left:5%
  }.quote-jose{
    width: 50%;
    float: right;
    right: 0;
    margin-top: -18%;
    margin-right: 14%;
}
  .quote-left{
    width: 50%;
    margin-top: 10%;
    margin-left: 5%;
    
}
.right-jep{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 26%;
    text-align: center;
    float: right;
    margin-top: -20%;
    margin-right: 15%;
}
.quote-jep{
    width: 50%;
    margin-top: 16%;
    margin-left: 5%;
}
.right-jep>h4{
    color: #21C4FF;
    font-weight: bold; 
}
.right-jep>img{
    width: 120px;
    height: 120px;
}
.personal-card-isaac{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 26%;
    text-align: center;
    margin-left: 5%;
    margin-top: 10%;

}
.quote-isaac{
    width: 50%;
    float: right;
    right: 0;
    margin-top: -18%;
    margin-right: 14%;

}
.personal-card-isaac>h4{
    color: #21C4FF;
      font-weight: bold; 
}
.personal-card-isaac>img{
    width: 120px;
    height: 120px;
}
.right-reuben{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 26%;
    text-align: center;
    margin-left: 5%;
    margin-top: -20%;
    float: right;
    margin-right: 14%;
}
.right-reuben>img{
    width: 120px;
    height: 120px;
}
.right-reuben>h4{
    color: #21C4FF;
    font-weight: bold; 
}
